<div class="login">


  <div class="left-side">
    <span class="logo-access">
      <img src="../../../assets/img/logo_acfm.jpg" height="75" width="230"/>

</span>
    <h2>Welcome Back,</h2>
    <h4>Sign in to continue</h4>
    <div class="form">
      <div class="row-line">
        <!--  <label>
            Username:
          </label>-->
        <input type="text" placeholder="Username" />
        <i class="fa fa-user"></i>
      </div>
      <div class="row-line">
        <!--<label>
          Password:
        </label>-->
        <input type="password" placeholder="Password"/>
        <i class="fa fa-lock"></i>
      </div>
      <div class="row-line forget">
        <span>forget&nbsp;password?</span>
      </div>

      <button (click)="login()">Login</button>
    </div>


  </div>

  <!--  <div class="right-side">
    </div>-->


</div>
