<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        #mainbody
        magic="Show_Address"
        class="Show_AddressProps mgColor159"
    >
        <label
            magic="Text: x"
            class="Text: xProps mgFont164 mgColor126"
        >
            X
            </label>
            <label
                magic="tmpID0"
                class="tmpID0Props mgColor159 hidden_border multiline"
            >
                {{mgGetValue('tmpID0') }}
                </label>
                </div>
                </form>