<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none mr-auto" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-menu-top">
    <li><span>Sales</span></li>
    <li class="selected"><span>Purchase</span></li>
    <li><span>Stock</span></li>
    <li><span>Production</span></li>
    <li><span>Quality</span></li>
    <li><span>Analysis</span></li>
    <li><span>Employee</span></li>
    <li><span>General</span></li>
    <li><span>Favourites</span></li>
  </ul>
  <button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler style="display: none">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>
