/*this is a component css*/

.WorkToListProps {
    background-repeat: repeat;
}

.Label2Props {
    overflow: hidden;
}

.eReportUniqueProps {}

.CustomerScreenProps {
    border: lightskyblue solid 1px;
}